<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body class="fix-header fix-sidebar">
    <div id="wrapper">
        <div id="page-wrapper" style="min-height:600px">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer class="footer text-center"> Copyright @DateTime.Now.Year | Powered By Cassandra Musolf</footer>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required:false)

    <script src="~/js/scripts.js"></script>
</body>
</html>
